/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
  background-image: linear-gradient(#134d71,  #ffffff);
  background-size: 100%;
  margin: 0px;
}

.selection-box {
  width: 500px;
  height: 200px;
}

.bell-box {
  width: 500px;
  height: 200px;
}

.bell {
  height: 150px;
  width: 150px;
}
